html, body{
    margin: 0 auto;
    height: 100%;
}

.container {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    height: 100%;
}

.white-bg {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-bg {
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex{
    display: flex;
    height: 100%;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    

}

@media only screen and (max-width: 768px) {
    .d-flex{
        flex-direction: column;
    }
}
