html, body{
    margin: 0 auto;
    height: 100%;
}

.header-bg-color{
    background-color: #f1cbff;
    height: 50px;
    font-size: 28px;
    text-align: center;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    height: 100%;
}

.footer-bg-color{
    background-color: #f1cbff;
    height: 50px;
    font-size: 28px;
    text-align: center;
}

.container {
    width: 100%;
    margin: 0 auto;

}

.white-bg {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-bg {
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    width: 100%;
    height: 100%;
}

.d-flex{
    display: flex;
    height: calc(100vh - 100px);
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    

}

@media only screen and (max-width: 768px) {
    .d-flex{
        flex-direction: column;
        height: calc(100vh - 100px);
    }
}

